
form
    display: flex
    border: none
    padding: 0
    border-radius: 16px
    background: #F4F4F4
    width: 736px
    height: 64px
    &:focus-within
        outline: 1px solid #A445ED

input

    font-size: 17px
    border: none
    background: transparent
    width: 100%

#input-text
    font-weight: bold
    padding-left: 1rem

*:focus
    outline: none

button
    border: none
    background: transparent
    color: #A445ED
    cursor: pointer

button[type="submit"]:focus,

.dark
    background: #1F1F1F
    color: #ffff
    border-radius: 16px

.error
    border: solid 1px red

.errorMessage
    color: #FF5252
    padding: 0.5rem
    
