%dimensions-shared
    width: 736px
    height: 64px
form
    border: none
    padding: 0
    @extend %dimensions-shared

input
    @extend %dimensions-shared
    font-size: 17px
    border: none
    border-radius: 16px
    background: #F4F4F4


button
    border: none
    background: transparent
    color: #A445ED
    cursor: pointer

button[type="submit"]:focus,