@font-face 
    font-family:"Iconsolata" 
    src: url("../../fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf")

@font-face 
    font-family:"Inter" 
    src: url("../../fonts/inter/Inter-VariableFont_slnt,wght.ttf")

@font-face 
    font-family:"Lora" 
    src: url("../../fonts/lora/Lora-Italic-VariableFont_wght.ttf")
    
.Iconsolata
    font-family:"Iconsolata" 

.Inter
    font-family:"Inter"

.Lora
    font-family:"Lora"