.dictionary-page
    margin-top: 2rem
    display: flex
    flex-direction: column
    width: 737px
    height: 826px

.info
    display: flex
    flex-direction: column
    padding: 1rem

.sourceUrl
    padding: 1rem